/* The following six styles set attributes for heading tags H1-H6 */
H1 {
	margin-bottom: 5px;
	text-align: left;
	color: #0C0D17;
	font-size: 150%;
	font-weight: 900;
	font-family: 'Acumin Pro', 'Source Sans Pro', sans-serif;
	line-height: 195%
}

H2 {
	margin-top: 20px;
	margin-bottom: 0px;
	text-align: left;
	color: #0C0D17;
	font-size: 120%;
	font-weight: 700;
	font-family: 'Acumin Pro', 'Source Sans Pro', sans-serif;
	line-height: 150%
}

H3 {
	margin-top: 20px;
	margin-bottom: -10px;
	text-align: left;
	color: #0C0D17;
	font-size: 95%;
	line-height: 130%;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%
}

H4 {
	margin-top: 15px;
	margin-bottom: -10px;
	text-align: left;
	color: #0C0D17;
	font-size: 95%;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%
}

H5 {
	margin-top: 10px;
	margin-bottom: -10px;
	text-align: left;
	color: #0C0D17;
	font-size: 95%;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%
}

H6 {
	margin-top: 10px;
	margin-bottom: -10px;
	text-align: left;
	color: #0C0D17;
	font-size: 95%;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%
}

/* The following element defines the appearance of non-heading text in the web page */
body {
	background-color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #0C0D17;
}

P {
	background-color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

OL {
	background-color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
}

UL {
	background-color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
}

/* The following custom classes are used in different locations of the template */
.bodywhite {
	color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #000F7E;
}

.bodywhite a:link {
	color: #ffffff;
	text-decoration: none;
}

.bodywhite a:visited {
	color: #ffffff;
	text-decoration: none;
}

.bodywhite a:hover {
	color: #0070C1;
	text-decoration: none;
}

.bgwhite {
	background-color: #ffffff;
}

.bggreyc {
	background-color: #CDD1E2;
}

.bgred {
	background-color: #000F7E;
}

.bgblack {
	background-color: #0C0D17;
}

.bggold {
	background-color: #0070C1;
}

.bgred-crest {
	background-color: #000F7E;
	background-image: url(images/brg_bg.gif);
	background-repeat: repeat-x;
}

.bg-vert-shadow {
	background-image: url(images/v_shadow1.gif);
}

.bg-hor-shadow {
	background-image: url(images/h_shadow1.gif);
}

.copyright {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 80%;
	font-weight: 400;
}

.navhead {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #000F7E;
	color: #CDD1E2;
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 0px;
	padding-right: 0px;
	font-weight: 400;
	margin: 0px;
}

.navbodyblack {
	font-family: 'Source Sans Pro', sans-serif;
	color: #ffffff;
	background-color: #000F7E;
	text-decoration: none;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 2px;
	font-weight: 400;
	margin: 0px;
}

.searchbox {
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 0px;
}

.navbodyblack a:link {
	color: #ffffff;
	text-decoration: none;
}

.navbodyblack a:visited {
	color: #ffffff;
	text-decoration: none;
}

.navbodyblack a:hover {
	color: #0070C1;
	text-decoration: none;
}

.navhead a:link {
	color: #0C0D17;
	text-decoration: none;
}

.navhead a:visited {
	color: #0C0D17;
	text-decoration: none;
}

.navhead a:hover {
	color: #0070C1;
	text-decoration: none;
}

.breadcrumbs {
	font-family: 'Source Sans Pro', sans-serif;
	color: #CDD1E2;
	background-color: #000F7E;
	text-decoration: none;
}

.breadcrumbs a:link {
	color: #ffffff;
	text-decoration: none;
}

.breadcrumbs a:visited {
	color: #ffffff;
	text-decoration: none;
}

.breadcrumbs a:hover {
	color: #0070C1;
	text-decoration: none;
}

.breadcrumbsblack {
	font-family: 'Source Sans Pro', sans-serif;
	color: #CDD1E2;
	background-color: #0C0D17;
	text-decoration: none;
}

.breadcrumbsblack a:link {
	color: #ffffff;
	text-decoration: none;
}

.breadcrumbsblack a:visited {
	color: #ffffff;
	text-decoration: none;
}

.breadcrumbsblack a:hover {
	color: #0070C1;
	text-decoration: none;
}

.search {
	font-size: .01em;
	color: #000F7E;
}
